.aboutMe {
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
    border-bottom: thick solid black;
}

.avatar-img {
}

.list-hover:hover {
    background-color: black;
    color: white;
}

.skill-list {
    padding: 1rem 15% 1rem 15%;
}